body {
    position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
	margin: 0;
    padding: 0;
}


header {
  background-color: #B5B8B1;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 100px;
  width: auto;
}

.search {
  display: flex;
  margin-left: 20px;
}

.search input[type="text"] {
  border: none;
  border-bottom: 2px solid #333;
  padding: 5px;
}

.search button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links img {
  height: 30px;
  width: auto;
}

.list-prod {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 0 -10px;
}

.item {
width: calc(25% - 20px);
margin: 10px;
box-sizing: border-box;
border: 1px solid #ddd;
border-radius: 5px;
overflow: hidden;
background-color: #fff;
display: flex;
flex-direction: column;
color: #333;
text-decoration: none;
}

.item img {
max-width: 100%;
height: auto;
object-fit: cover;
flex: 1;
}

.item h2 {
margin: 0 10px;
font-size: 18px;
font-weight: 700;
text-align: center;
margin-top: 10px;
margin-bottom: 5px;
}

.item p {
margin: 0 10px;
font-size: 14px;
text-align: center;
margin-bottom: 5px;
}

.item .price {
margin: 0 10px;
font-size: 16px;
font-weight: 700;
text-align: center;
margin-bottom: 10px;
}


.item a:hover {
text-decoration: underline;
}

.list-prod {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 0 -10px;
}

.item {
width: calc(25% - 20px);
margin: 10px;
box-sizing: border-box;
border: 1px solid #ddd;
border-radius: 5px;
overflow: hidden;
background-color: #fff;
display: flex;
flex-direction: column;
}

.item img {
max-width: 100%;
height: auto;
object-fit: cover;
flex: 1;
}

.item h2 {
margin: 0 10px;
font-size: 18px;
font-weight: 700;
text-align: center;
margin-top: 10px;
margin-bottom: 5px;
}

.item p {
margin: 0 10px;
font-size: 14px;
text-align: center;
margin-bottom: 5px;
}

.item .price {
margin: 0 10px;
font-size: 16px;
font-weight: 700;
text-align: center;
margin-bottom: 10px;
}

.item a {
color: #333;
text-decoration: none;
}

.item a:hover {
text-decoration: underline;
}
