{% extends 'product/base.html' %}
{% block content %}
{% if prods %}
  <div class="list-prod">
    {% for p in prods %}
      <a href="{{ p.get_absolute_url }}" class="item"> <!-- Обернули весь контент в ссылку -->
        {% if p.photo %}
          <img src="{{p.photo.url}}" alt="{{p.title}}">
        {% else %}
          <div style="height: 200px;"></div>
        {% endif %}
        <h2>{{ p.title }}</h2>
        <p>Цвет - {{ p.color }}</p>
        <p class="price">{{ p.price }} руб.</p>
      </a>
    {% endfor %}
  </div>
{% else %}
  <h2>По данной категории пока ничего нет</h2>
{% endif %}
{% endblock content %}