{% extends 'product/base.html' %}
{% block content %}
                {% if prod.photo %}
                          <img src="{{prod.photo.url}}" alt="{{prod.title}}">
                        {% else %}
                            <div style="height: 200px;"></div>
                        {% endif %}
                            <a href="{{ prod.get_absolute_url }}" class="item"><h2>{{ prod.title }}</h2></a>
                            <p>Цвет - {{ prod.color }}</p>
                            <p>Пол - {{ prod.gender }}</p>
                            <p>Описание - {{ prod.context }}</p>
                            <p>{{ prod.price }} руб.</p>
                {% if log %}
                <h3>
                    <form action="{% url 'add_prod_liked' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="prod_id" value="{{ prod.id }}">
                        <button type="submit">{{ is_liked }}</button>
                    </form></h3>
                <h3>
                    <form action="{% url 'add_prod_cart' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="prod_id" value="{{ prod.id }}">
                        <button type="submit">{{ is_cart }}</button>
                    </form>
                </h3>
                {% endif %}
{% endblock content %}